*{
    margin: 0px;
    padding: 0px;
}
body {
    background: lightgray; 
    font-family: Arial, Helvetica, sans-serif;
         }   
    
         #container {
     /*width:70%*/
     width:1100px; 
    margin: 0px auto;
    border: 1px solid black; 
         }
    
         .article{
    
         }
         header {
             background: #cd85f1;
             height:100px ;
             width: 100%;
             margin: 0px;
             text-align: center;
             line-height: 100px;
             border-bottom: 3px solid black;
         }
    nav { 
        background:lightblue;
        height:50px;
        line-height: 30px;
        border-bottom: 1px solid black;
    }
         nav ul li {
    
            float:left;
            list-style: none;
            margin: 10px;
    
    
    
         }
    
         .clearfix {
             clear:both; 
         }
    
    
         #content {
             float:left;
    width: 80%;
    background: rgb(255, 192, 192);
    min-height: 599px;
         }
    
         aside{
             float:left;
             vertical-align:"middle";
             width:20%;
    background: rgb(14, 14, 14);
    min-height: 600px;
    
         }
    
         footer{
         float: below;
             background: black;
             color: black;
             text-align: center;
             height: 50px;
             line-height: 10px;
         }
         .rot90 {
            -webkit-transform:rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
           }
           
img{
    float:left;
    width:300px;
    }
    hr {
        clear: both;
      }